<%= simple_form_for :login, html: {class: 'form-horizontal'}, url: user_sessions_path, method: :post do |f| %>
<p>Still working out some kinks right now, so I'm limiting the folks who have full access. Tweet <a href='http://www.twitter.com/kylefrost'>@kylefrost</a> for an invite!</p>
  <%= f.input :username %>
  <%= f.input :password %>
  <div class="row">
    <%= f.button :submit, "Login", class: 'btn-block' %>
  </div>
  <p><%= link_to 'Forgot your password?', new_reset_password_path %></p>
<% end %>
