<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= display_meta_tags site: 'The Industry Log' %>
  <meta property="og:url" content="<%= asset_path('images/fb-share.jpg') %>">
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<div style="max-width: 1300px; background: #fff; border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;margin: 0 auto; min-height: 100vh;">
  <%= render 'components/top_navigation' %>
  <%= yield :headerwrap %>

  <div class="page-wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'components/footer' %>
</div>

<%= render 'components/google_analytics' %>
<%= yield :javascripts %>
<script>
  feather.replace()
</script>

</body>

</html>
