<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield(:title)} |" %><%= seo_title_text %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<div style="max-width: 1300px; background: #fff; border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;margin: 0 auto; min-height: 100vh;">
  <%= render 'components/top_navigation' %>
  <%= yield :headerwrap %>

  <div class="page-wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'components/footer' %>
</div>

<%= render 'components/google_analytics' %>
<%= yield :javascripts %>
<script>
  feather.replace()
</script>

</body>

</html>
